<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="losamigos.smartcity">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ListeReseauUtilisateurActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ListeMessageReseauActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:screenOrientation="portrait"/>
        <activity android:name=".CreationReseauxActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".RechercheReseauActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".DemandeAdhesionActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".NouveauMessageActivity" />
        <activity android:name=".HorlogeActivity" />

        <receiver android:name=".HorlogeReceiver" />

        <activity android:name=".MeteoActivity" />
        <activity android:name=".ActualitesActivity" />
        <activity android:name=".ActualiteActivity" />
        <activity android:name=".InscriptionActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".ChoixThemeActivity" />
        <activity android:name=".ActivitePrincipale"
            android:screenOrientation="portrait"/>
        <activity android:name=".ChoixVilleActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".PhotoActivity" />
        <activity android:name=".MapsActivity" />
        <activity android:name=".ChoixPartieCommerceActivity" />
        <activity android:name=".RechercheCommerceActivity" />
        <activity android:name=".OffreCommerceActivity" />
        <activity android:name=".CommerceActivity"/>
        <activity android:name=".publiciteActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ListeFavorisCommerceActivity" />
        <activity android:name=".AnnonceActivity" />
        <activity android:name=".ActiviteMesInvitations" />
        <activity android:name=".ListeReseauAdmin" />
        <activity android:name=".LancementInvitation" />
    </application>

</manifest>